main {
  padding-bottom: 60px; }

#Header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
  background: #efefef; }

#Footer {
  padding: 30px 0;
  background: #2e2e2e;
  height: 50vh; }
  #Footer .link-list {
    text-align: center;
    margin-bottom: 20px; }
  #Footer .link-list a {
    color: white; }
  #Footer p {
    color: gray;
    text-align: center; }

.panel-heading h2 {
  margin: 0;
  padding: 5px; }

#modelSearchInput.hasError {
  border: 1px solid red; }

.selection-panel {
  transition: all 250ms; }
  .selection-panel .alert-warning {
    margin-top: 15px; }
  .selection-panel .object-list {
    min-height: 30px; }
  .selection-panel.processing .object-list {
    background: url("/images/preloader-bar.gif") no-repeat center center; }
  .selection-panel.not-ready {
    opacity: 0.5; }

.step-number {
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  width: 30px;
  height: 30px;
  background: orange;
  color: white;
  font-size: 22px;
  line-height: 27px;
  margin-right: 15px;
  position: relative;
  bottom: 5px; }

.object-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.link-list li {
  display: inline-block;
  padding: 5px 10px; }

.panel-actions {
  margin-bottom: 15px; }

.selection-item {
  padding: 5px; }
  .selection-item:hover .item-wrapper {
    border-color: black; }
  .selection-item.selected .item-wrapper {
    border-color: orange; }
  .selection-item.selected .item-name {
    color: orange; }

.item-wrapper {
  cursor: pointer;
  padding: 10px;
  border: 3px solid lightgray;
  transition: all 200ms; }

.model-item img {
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; }

.model-name {
  font-size: 16px;
  text-align: center; }

.capacity-name, .color-name {
  text-align: center;
  margin: 0; }

.color-name {
  font-size: 16px; }

.color-swatch {
  width: 80px;
  height: 80px;
  display: block;
  margin: 10px auto;
  border: 2px solid lightgray;
  border-radius: 10px; }

.color-swatch.space-gray {
  background: #9f9f9f; }

.color-swatch.black {
  background: black; }

.color-swatch.white {
  background: white; }

.color-swatch.silver {
  background: #d0d0d0; }

.color-swatch.gold {
  background: #f7c053; }

.color-swatch.blue {
  background: #1e8cff; }

.color-swatch.green {
  background: green; }

.color-swatch.pink {
  background: pink; }

.color-swatch.yellow {
  background: yellow; }

.selected-device {
  padding: 20px 10px; }
  .selected-device p, .selected-device h4 {
    text-align: center; }
  .selected-device img {
    display: block;
    margin: 0 auto; }

#reviewSection button {
  width: 100%;
  max-width: 200px; }

.question-content {
  min-height: 72px; }

.question-response input {
  display: none; }

.question-response input + label {
  font-size: 16px;
  display: inline-block;
  border: 3px solid lightgray;
  padding: 4px 8px;
  width: 70px;
  text-align: center; }

.question-response input + label {
  transition: all 250ms;
  cursor: pointer; }

.question-response input + label:hover {
  border-color: black; }

.question-response input:checked + label.yay {
  border-color: #5cb85c;
  background: #c7e6c7; }

.question-response input:checked + label.nay {
  border-color: #d79302;
  background: #fed274; }

.question-item {
  padding: 5px; }

.question-wrapper {
  padding: 15px;
  min-height: 180px;
  border: 3px solid lightgray; }

#valueSection .panel-body {
  padding: 60px 15px; }

.valuation-container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center; }

.valuation-type {
  color: black;
  font-size: 1.75em; }

.valuation-disclaimer {
  text-align: center; }

.valuation-amount:after,
.valuation-disclaimer:before {
  content: "*";
  color: red; }

@media screen and (min-width: 1000px) {
  .selected-device {
    margin-top: 100px; } }

@media screen and (max-width: 960px) {
  .question-response input + label {
    padding: 15px 30px;
    width: 120px; } }

@media screen and (max-width: 500px) {
  .step-number {
    display: block;
    margin: 5px auto; }
  .panel-heading h2 {
    text-align: center;
    font-size: 24px; }
  .question-wrapper {
    border: none;
    border-top: 1px solid lightgray; }
  .question-title {
    text-align: center; }
  .question-response {
    text-align: center; } }

.menu-container {
  text-align: right; }

.logo {
  height: 72px;
  width: auto;
  display: none; }

.logo-sm {
  height: 50px;
  width: auto; }

.hamburger {
  display: inline-block;
  font-size: 48px;
  color: #2f2f2f;
  margin-left: 15px; }

@media screen and (min-width: 960px) {
  .hamburger {
    display: none; }
  .logo {
    display: block; }
  .logo-sm {
    display: none; } }

.app-title {
  position: relative;
  bottom: 15px;
  text-align: right;
  font-size: 24px;
  margin: 0;
  line-height: 5px;
  display: inline-block; }

.menu {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none; }
  .menu a {
    font-size: 18px; }

body.menu-open .hamburger {
  color: orange; }

body.menu-open .menu {
  display: block; }

@media screen and (max-width: 960px) {
  main {
    padding-top: 100px; }
  #Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500; }
  .app-title {
    font-size: 20px; }
  .menu {
    text-align: center;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    background: #3f3f3f; }
    .menu li {
      border-bottom: 1px solid #636363; }
    .menu a {
      color: white;
      display: block;
      width: 100%;
      padding: 10px 15px; } }

@media screen and (min-width: 960px) {
  .app-title {
    display: block;
    bottom: 0;
    padding: 10px 0; }
  .menu {
    display: block; }
    .menu li {
      display: inline-block;
      padding: 5px 10px; }
    .menu li:last-child {
      padding-right: 0; } }

.contact-form label {
  width: 200px; }

.contact-form .form-control {
  max-width: 500px;
  width: 100%; }

.contact-form .form-control.sm {
  max-width: 200px; }

.contact-form .form-group {
  display: block;
  margin-bottom: 15px; }

.contact-form .form-group.has-error label {
  color: #a94442; }

.contact-form .error-message {
  color: #a94442;
  line-height: 24px;
  margin-left: 10px; }

.flex-table {
  font-size: 16px; }
  .flex-table header:after, .flex-table ol:after {
    content: "";
    clear: both;
    display: table; }
  .flex-table header {
    display: block;
    padding-bottom: 5px;
    border-bottom: 5px solid #efefef; }
    .flex-table header div {
      font-weight: 700; }
  .flex-table ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block; }
  .flex-table ol div[data-col]:not(.no-pad) {
    padding-top: 30px; }
  .flex-table ol div[data-col].highlight {
    font-weight: 700; }
  .flex-table li {
    display: block;
    height: 90px;
    border-bottom: 1px solid #efefef; }
  .flex-table div[data-col] {
    float: left;
    padding: 10px; }
  .flex-table img {
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 70px; }
  .flex-table li > a {
    color: black; }
  .flex-table.clickable li {
    transition: background-color 200ms;
    cursor: pointer; }
  .flex-table.clickable li:hover {
    background: #f6f6f6; }

#TradeList div[data-col="1"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="1"] {
    float: left;
    width: 13%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="1"] {
    float: left;
    width: 13%;
    display: block; } }

#TradeList div[data-col="2"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="2"] {
    float: left;
    width: 15%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="2"] {
    float: left;
    width: 15%;
    display: block; } }

#TradeList div[data-col="3"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="3"] {
    float: left;
    width: 22%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="3"] {
    float: left;
    width: 22%;
    display: block; } }

#TradeList div[data-col="4"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="4"] {
    float: left;
    width: 10%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="4"] {
    float: left;
    width: 10%;
    display: block; } }

#TradeList div[data-col="5"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="5"] {
    float: left;
    width: 10%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="5"] {
    float: left;
    width: 10%;
    display: block; } }

#TradeList div[data-col="6"] {
  display: inline-block;
  float: none; }

@media screen and (min-width: 768px) {
  #TradeList div[data-col="6"] {
    float: left;
    width: 30%;
    display: block; } }

@media screen and (min-width: 960px) {
  #TradeList div[data-col="6"] {
    float: left;
    width: 30%;
    display: block; } }

#TradeView .window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 700px;
  background: white;
  display: block;
  z-index: 1000; }

#TradeView .overlay {
  position: fixed;
  z-index: 900;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

@media screen and (max-width: 768px) {
  #TradeView .window {
    width: calc(100% - 50px); } }

#TradeView.animate.ng-enter {
  transition-duration: 800ms; }

#TradeView.animate.ng-leave {
  transition-duration: 300ms; }

#TradeView.animate.ng-enter .window, #TradeView.animate.ng-leave .window {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

#TradeView.animate.ng-enter .window {
  -webkit-transform: translateX(-700px);
  transform: translateX(-700px); }

#TradeView.animate.ng-enter .overlay {
  opacity: 0; }

#TradeView.animate.ng-enter.ng-enter-active .window {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition: -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1); }

#TradeView.animate.ng-enter.ng-enter-active .overlay {
  transition: opacity 300ms;
  opacity: 1; }

#TradeView.animate.ng-leave.ng-leave-active .window {
  -webkit-transform: translateX(-700px);
  transform: translateX(-700px);
  transition: -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }

#TradeView.animate.ng-leave.ng-leave-active .overlay {
  transition: opacity 300ms;
  opacity: 0; }

.trade-overview {
  display: block;
  background: #1e1e1e;
  padding: 30px; }
  .trade-overview .actions {
    text-align: right; }
  .trade-overview h1 {
    margin-bottom: 30px; }
  .trade-overview h1 > span {
    color: white;
    font-size: 24px;
    display: block; }
  .trade-overview h1 > span.device-name {
    font-size: 16px;
    margin-bottom: 10px; }
  .trade-overview h1 > span.trade-status {
    color: orange; }
  .trade-overview p {
    color: #c3c3c3; }

.trade-body {
  padding: 30px; }

/*# sourceMappingURL=app.css.map */
