.flex-table {
	font-size:16px;
	header:after, ol:after {content:""; clear:both; display:table;}
	header{
		display:none;
		padding-bottom:5px;
		border-bottom:5px solid #efefef;
		div {font-weight:700;}
	}
	ol {margin:0; padding:0; list-style: none; display:block;}
	ol div[data-col]:not(.no-pad)  {padding-top:30px;}
	ol div[data-col]  {
		&.highlight {font-weight:700;}
	}
	li {display:block; height:90px; border-bottom:1px solid #efefef;}
	div[data-col] { float:left; padding:10px; }
	img {height:auto; width:auto; max-width:60px; max-height:70px;}
	li>a {color:black;}

	&.clickable{
		li {transition:background-color 200ms; cursor: pointer;}
		li:hover {background: #f6f6f6;}
	}

	@media screen and (min-width:768px)
	{
		header {display:block;}
	}
}



@mixin div-col-size($n, $num)
{
	@if $num == 0 {
		div[data-col="#{$n}"] { display:none; }
	}
	@else if type-of($num) == string {
		div[data-col="#{$n}"] { display: $num; float:none;  }
	}
	@else {
		$pct: $num*10%;
		div[data-col="#{$n}"] { float:left; width:$pct; display:block; }
	}
}

@mixin div-col($n, $sm:1,$md:1,$lg:1)
{
	@include div-col-size($n,$sm);
	@media screen and (min-width:768px) {
		@include div-col-size($n,$md);
	}
	@media screen and (min-width:960px) {
		@include div-col-size($n,$lg);
	}
}

#TradeList {
	@include div-col(1, inline-block, 1, 1.3); // Image
	@include div-col(2, inline-block, 1.5, 1.5); // Date
	@include div-col(3, inline-block, 3, 2.2); // Device
	@include div-col(4, inline-block, 1.5, 1); // ID
	@include div-col(5, inline-block, 0, 1); // Type
	@include div-col(6, inline-block, 3, 3); // Status


}



#TradeView {
	.window {
		position:fixed; top:0; left:0; bottom:0; width:700px;
		background:white; display:block;
		z-index:1000;
	}
	.overlay {
		position:fixed; z-index:900; display:block;
		background:rgba(0,0,0,0.8);
		left:0; right:0; bottom:0; top:0;
	}
}

@media screen and (max-width:768px)
{
	#TradeView .window {width:calc(100% - 50px);}
}

#TradeView.animate {
	&.ng-enter {transition-duration: 800ms;}
	&.ng-leave {transition-duration: 300ms;}
	&.ng-enter, &.ng-leave {
		.window {transform:translateX(0);}
	}
	&.ng-enter {
		.window {transform:translateX(-700px);}
		.overlay {opacity:0;}
	}
	&.ng-enter.ng-enter-active {
		.window {
			transform:translateX(0px);
			transition:transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
		}
		.overlay {
			transition:opacity 300ms;
			opacity:1;
		}
	}
	&.ng-leave.ng-leave-active {
		.window {
			transform: translateX(-700px);
			transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
		}
		.overlay {
			transition:opacity 300ms;
			opacity:0;
		}
	}
}


.trade-overview {
	display:block; background: #1e1e1e; padding:30px;
	.actions {text-align:right;}
	h1 {margin-bottom:30px;}
	h1>span {color:white; font-size:24px; display:block;}
	h1>span.device-name {font-size:16px; margin-bottom:10px;}
	h1>span.trade-status{color:orange;}
	p {color: #c3c3c3;}
}

.trade-body {padding:30px;}