.menu-container {text-align:right;}
.logo {height:72px; width:auto; display:none;}
.logo-sm {height:50px; width:auto;}
.hamburger {display:inline-block; font-size:48px; color: #2f2f2f; margin-left:15px;}

@media screen and (min-width:960px) {
	.hamburger {display:none;}
	.logo {display:block;}
	.logo-sm {display:none;}
}
.app-title {
	position:relative;
	bottom:15px;
	text-align:right;
	font-size:24px;
	margin:0;
	line-height:5px;
	display:inline-block;
}

.menu {
	display:none;
	padding:0; margin:0;
	list-style: none;
	a {font-size:18px;}
}
body.menu-open {
	.hamburger {color:orange;}
	.menu {display:block;}
}
@media screen and (max-width:960px)
{
	main {padding-top:100px;}
	#Header {position:fixed; top:0; left:0; right:0; z-index:500;}
	.app-title {font-size:20px;}
	.menu {
		text-align:center;
		position:fixed; top:70px; right:0; left:0; background: #3f3f3f;
		li {border-bottom: 1px solid #636363 }
		a {color:white; display:block; width:100%; padding:10px 15px; }
	}
}

@media screen and (min-width:960px)
{
	.app-title {display:block; bottom:0; padding:10px 0;}
	.menu {
		display:block;
		li {display:inline-block; padding:5px 10px;}
		li:last-child {padding-right:0;}
	}
}