main {
	padding-bottom:60px;
}
#Header {
	padding:10px;
	border-bottom:1px solid lightgray;
	margin-bottom:30px;
	background:#efefef;
	h1 {margin:0; margin-top:15px; color: #7d7d7d; font-weight:normal;}
}
#Footer {
	padding:30px 0;
	background: #2e2e2e;
	height:50vh;

	.link-list {text-align:center; margin-bottom:20px;}
	.link-list a {color:white;}
	p {color:gray; text-align:center;}
}
.logo {height:72px; width:auto;}


.panel-heading h2 {margin:0; padding:5px;}

#modelSearchInput {
	&.hasError {border:1px solid red}
}
.app-title {text-align:right;}
@media screen and (max-width:768px) {
	.app-title{text-align:left; font-size:2em;}
}
@media screen and (max-width:500px) {
	.app-title{text-align:center;}
}
.selection-panel {
	transition:all 250ms;
	.alert-warning {margin-top:15px;}
	.object-list {min-height:30px;}
	&.processing .object-list {
		background:url('/images/preloader-bar.gif') no-repeat center center;
	}
	&.not-ready { opacity:0.5;}
}

.step-number {
	display:inline-block;
	border-radius: 100%;
	text-align:center;
	width: 30px; height:30px;
	background:orange; color:white; font-size:22px; line-height:27px;
	margin-right:15px; position:relative; bottom:5px;
}

.object-list {
	margin:0; padding:0; list-style: none;
}

.link-list li {display:inline-block; padding:5px 10px;}

.panel-actions {
	margin-bottom:15px;
}

.selection-item {
	padding:5px;
	&:hover {
		.item-wrapper {
			border-color:black;
		}
	}
	&.selected {
		.item-wrapper { border-color:orange; }
		.item-name {color:orange;}
	}
}
.item-wrapper {
	cursor:pointer;
	padding:10px;
	border:3px solid lightgray;
	transition:all 200ms;
}

.model-item {
	img {
		height:150px;
		width:auto;
		display:block;
		margin:0 auto;
		margin-bottom:10px;
	}
}
.model-name {
	font-size:16px; text-align:center;
}

.capacity-name,.color-name {
	text-align:center; margin:0;
}
.color-name {font-size:16px;}
.color-swatch {
	width:80px;
	height:80px;
	display:block;
	margin:10px auto;
	border:2px solid lightgray;
	border-radius: 10px;
}

.color-swatch {
	&.space-gray {background: #9f9f9f;}
	&.black {background:black;}
	&.white {background:white;}
	&.silver {background: #d0d0d0;}
	&.gold {background: #f7c053;}
	&.blue {background: #1e8cff;}
	&.green {background: green;}
	&.pink {background: pink;}
	&.yellow {background: yellow;}
}


.selected-device {
	padding:20px 10px;
	p,h4 {text-align:center;}
	img {display:block; margin:0 auto;}
}

#reviewSection button {
	width:100%; max-width:200px;
}

.question-content {min-height:72px;}
.question-response {
	input {display:none;}
	input+label {font-size:16px; display:inline-block; border:3px solid lightgray; padding:4px 8px; width:70px; text-align:center;}
	input+label {transition:all 250ms; cursor:pointer;}
	input+label:hover {border-color:black;}
	input:checked+label.yay {border-color:#5cb85c; background:lighten(#5cb85c,30%);}
	input:checked+label.nay {border-color: #d79302; background:lighten(#d79302,30%);}
}
.question-item {
	padding:5px;
}
.question-wrapper {
	padding:15px; min-height:180px;
	border:3px solid lightgray;
}

#valueSection {
	.panel-body {padding:60px 15px;}
}
.valuation-container {
	max-width:500px; margin:0 auto; margin-bottom:15px;
	text-align:center;
}
.valuation-type {color:black; font-size:1.75em;}
.valuation-disclaimer {text-align:center;}
.valuation-amount:after,
.valuation-disclaimer:before {
	content:"*"; color:red;
}



@media screen and (min-width:1000px)
{
	.selected-device {margin-top:100px;}
}

@media screen and (max-width:960px)
{
	.question-response {
		input+label {padding:15px 30px; width:120px;}
	}

}

@media screen and (max-width:500px)
{
	.step-number {display:block; margin:5px auto;}
	.panel-heading h2 {text-align:center; font-size:24px;}
	.question-wrapper {border:none; border-top:1px solid lightgray;}
	.question-title {text-align:center;}
	.question-response {
		text-align:center;
	}
}